body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('url_de_tu_imagen_de_fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1493238792000-8113da705763?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

h1 {
    color: #000000a2;
    font-size: 38px;
    font-weight: 500;
    text-shadow: 0 1px 1px #ffffff70;
}

h2 {
    color: #000000a2;
    font-weight: 400;
    text-shadow: 0 1px 1px #ffffff70;
}

p {
    color: #000000c0;
    font-weight: 300; 
}

b {
    font-weight: 400;
    color: #0f0c30ce;
}

.container {
    position: absolute;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.411);
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}

form {
    background: #ffffffa1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff8a;
}

select:focus-visible {
    outline: 2px solid #2e9acc;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #2e9acc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2788ae;
}

#quoteResult {
    background: #ffffffa1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.hidden {
    display: none;
}